h1{
	text-align: center;
	position: relative;
	top: calc(30px);
	font-family: "Exo", sans-serif;
	font-size: 40px;
	font-weight: 300;
}

body {
	background-color: #I83026;
	background-image: url("../images/GradientBackground.jpg");
	background-size: auto, cover;
	background-position: top left, center 0;
	background-attachment: fixed, fixed;
	
	
}
